
/* Dark Mode Styles */
:root {
  --bg-color-light: #f5f5f5;
  --text-color-dark: #333;
  --bg-input-color-light: #fff;
  --bg-list-grp-color-light: #fff;
  --bg-card-color-light: #fff;
  --bg-table-color-light: #fff;

  --bg-color-dark: #191919; /* Darker background for dark mode */
  --text-color-light: #e0e0e0; /* Lighter text for better contrast */
  --bg-input-color-dark: #2a466f; 
  --bg-list-grp-color-dark: #2a466f;
  --bg-card-color-dark: #2a466f;
  --bg-table-color-dark: #2a466f;

  --accent-color: #2980b9;
  --accent-color-dark: #226a92; 
  --accent-btn-blue: #007bff;


}






/*  =======================================================  */


html {
  box-sizing: border-box;
  
}

body {  
  background-color: var(--bg-color-light);
  color: var(--text-color-dark); 

  font-family: system-ui,'Segoe UI','Roboto','Helvetica Neue','Raleway','Open Sans',sans-serif;
}


/*  =======================================================  */

@media (max-width: 768px) {
  #themeToggle {
    position: static;
    margin-bottom: 10px;
  }

  .modal-dialog {
    width: 100%;
    margin: 0;
  }

  .modal-content {
    border-radius: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}



@media (max-width: 575px) {
  #card-holder {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 576px) and (max-width: 1099px) {
  .modal-dialog {
    max-width: 95% !important;
    margin-left: auto;
    margin-right: auto;
  }
  #card-holder {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1100px) {
  .modal-dialog {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
  #card-holder {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}



#themeToggle {
  position: absolute;
  top: 4px;
  right: 6px;
  padding: 3px 10px;
  font-size: 0.8rem;
  box-shadow: none;
}
#themeIcon {
  filter: invert(36%) sepia(67%) saturate(5258%) hue-rotate(201deg) brightness(105%) contrast(101%);
}

#toastContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;

}

/*  =======================================================  */


body.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-light); /* Use the lighter text color for dark mode */
}

body.dark-mode .table {
  color: var(--bg-table-color-dark);
}

.card.dark-mode {
  background: var(--bg-card-color-dark);
  color: var(--text-color-light);

}

button.dark-mode, input.dark-mode {
  background: var(--accent-color-dark);
  color: var(--text-color-light); 
}

body.dark-mode select, body.dark-mode select:focus {
  background: var(--bg-card-color-dark);
  color: var(--text-color-light); 
  border: 1px solid var(--bg-card-color-dark);
}

button.dark-mode:hover {
  background: lighten(var(--accent-color-dark), 20%);
}

input.dark-mode, button.dark-mode {
  color: var(--text-color-light);
}

/* Dark mode styles for modals */
body.dark-mode .modal-content {
  background-color: var(--bg-color-dark);
  color: var(--text-color-light);
}

body.dark-mode .modal-header,
body.dark-mode .modal-footer {
  border-color: var(--accent-color-dark);  
}

body.dark-mode .btn-close {
  filter: invert(100%);
}

body.dark-mode .modal-title {
  color: var(--text-color-light);  
}

body.dark-mode .modal .form-control {
  background-color: var(--bg-color-dark);
  color: var(--text-color-light);
  border-color: var(--accent-color-dark);
}

/* Additional dark mode styles */
body.dark-mode .summary-area {
  background-color: var(--bg-color-dark);
  border-color: var(--accent-color-dark);  
}

body.dark-mode .summary-area h3 {
  color: var(--text-color-light);
}

body.dark-mode .summary-area p {
  color: #dee2e6;  
}

body.dark-mode textarea,
body.dark-mode .input-group-text,
body.dark-mode input {
  background-color: var(--bg-input-color-dark);
  color: var(--text-color-light);
  border-color: var(--accent-color-dark);  
}

body.dark-mode .list-group-item {
  background-color: var(--bg-list-grp-color-dark);
  color: var(--text-color-light);
  border-color: var(--accent-color-dark);  
}

body.dark-mode .modal-footer {
  border-color: var(--accent-color-dark);  
}

body.dark-mode .form-text {
  color: var(--text-color-light);
}

body.dark-mode .toast {
  background-color: var(--bg-card-color-dark);
  color: var(--text-color-light);
}

body.dark-mode .toast-header {
  background-color: lighten(var(--bg-card-color-dark), 10%);
  border-bottom: 1px solid var(--accent-color-dark);
  color: var(--text-color-light);
}

body.dark-mode .toast-body {
  background-color: var(--bg-card-color-dark);
  color: var(--text-color-light);
}


/*  =======================================================  */


/* Button Styles */
button {
  background: var(--accent-color);
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: darken(var(--accent-color), 10%);
}

button:active {
  background: darken(var(--accent-color), 15%);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(var(--accent-color), 0.5);
}

li.list-group-item button {
  min-height: 22px;
  font-size: .7rem;
  padding: 1px 3px;
  margin: 0px 3px;
}

/*  =======================================================  */

textarea {
  resize: vertical; /* Allows the user to resize the textarea vertically */
}

/* Global styles for form elements */
input[type="text"],
input[type="number"],
.input-group-text,
select.form-control,
button,
textarea {
  min-height: 44px; /* Accessible tap target size */
}

/*  ====== REMOVE TOGGLES FROM NUMBER INPUT ======  */
/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none; /* Standard syntax */
  margin: 0;
}
/* For Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard syntax */
}

.input-group label, .input-group span {
  background-color: #e2e3e5;
}

#area-form-left-column label {
  font-size: 1rem;
  margin-bottom: .3rem;
  margin-top: .2rem;
  font-weight: 500;
}

/*  =======================================================  */



.top-card {
  background-color: var(--bg-card-color-light);
  color: var(--text-color-dark);
}
body.dark-mode .top-card {
  background-color: var(--bg-card-color-dark); 
  color: var(--text-color-light);
}

.card-title {
  font-size: 1.1rem;
}

.card-header {
  font-size: 1.18rem;
  font-weight: 500;
  background-color: var(--bg-card-color-light);
  color: var(--text-color-dark);
}
body.dark-mode .card-header {
  font-size: 1.18rem;
  font-weight: 500;
  background-color: var(--bg-card-color-dark);
  color: var(--text-color-light);
}

.card-body {
  background-color: var(--bg-card-color-light);
  color: var(--text-color-dark);
}
body.dark-mode .card-body {
  background-color: var(--bg-card-color-dark); 
  color: var(--text-color-light);
}

.area-list-name {
  min-width: 30%;
}

/*  =======================================================  */

.modal-content {
  border-radius: 0.3rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-footer {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}

.modal-footer .btn {
  flex-grow: 1;
  flex-basis: 50%;
  margin: 0;
  padding: 1rem 0;
  font-size: 1.3rem!important;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0;
}

.modal-footer .btn-link {
  border-right: 1px solid;
  border-top: 1px solid;
  color: #007bff;
}

.modal-footer .btn-link:last-child {
  border-right: none;
  border-left: 1px solid;
}

button.clear-form {
  background-color: transparent; 
  position:absolute;
  right: 50px;
  padding: 1px 1px;
  text-align: right;
  min-height: 20px;
  min-width: 20px;
  color: #007bff;

}

.measurement {
  margin-bottom: 0;
}

.date-reference label, .date-reference span {
  font-size: 0.92rem;
  color: #6c757d;
  font-style: italic;
}

.pac-container {
  z-index: 1200 !important; /* higher than Bootstrap modal */
}
body.dark-mode .pac-container {
  z-index: 1200 !important;
  /* NEED RO FIGURE OUT TEXT COLOR */
  /* background-color: var(--bg-input-color-dark); */
  /* color: var(--text-color-light); */
} 